.u-section-1 .u-sheet-1 {
  min-height: 1835px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 36px auto 0 30px;
}

.u-section-1 .u-post-details-1 {
  min-height: 1722px;
  margin-top: 12px;
  margin-bottom: 16px;
}

.u-section-1 .u-container-layout-1 {
  padding: 18px 0 0;
}

.u-section-1 .u-text-1 {
  margin: 0 30px;
}

.u-section-1 .u-text-2 {
  margin: 6px 30px 0;
}

.u-section-1 .u-image-1 {
  height: 1617px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1561px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 38px;
    margin-left: 0;
  }

  .u-section-1 .u-post-details-1 {
    margin-top: 10px;
    margin-bottom: 11px;
    min-height: 1454px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 1321px;
    margin-top: 39px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1272px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 35px;
  }

  .u-section-1 .u-post-details-1 {
    margin-top: 13px;
    margin-bottom: 14px;
    min-height: 1162px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 1025px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1045px;
  }

  .u-section-1 .u-post-details-1 {
    margin-bottom: 13px;
    min-height: 904px;
  }

  .u-section-1 .u-image-1 {
    height: 770px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 34px;
  }

  .u-section-1 .u-post-details-1 {
    margin-top: 14px;
    min-height: 578px;
  }

  .u-section-1 .u-image-1 {
    height: 490px;
    margin-top: 0;
  }
}